/* ELEMENTS */

body {
  text-align: center;
  margin: -20px 0px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 260px;
}

h3 {
  margin-top: 80px;
  font-size: 40px;
  background-color: rgb(91, 90, 90);
  box-shadow: 5px 5px rgb(47, 48, 52);
  padding: 40px 0px 40px 0px;
  color: cornsilk;
}

h3:hover {
  color: rgb(47, 48, 52);
  background-color: cornsilk;
}

p {
  font-size: 18px;
  background-color: rgb(91, 90, 90);
  box-shadow: 5px 5px rgb(47, 48, 52);
  color: cornsilk;
  padding: 10px;
}

p:hover {
  color: rgb(47, 48, 52);
  background-color: cornsilk;
}

/* CLASSES */

.activites {
  width: 300px;
  height: max-content;
  border: solid 3px wheat;
  border-radius: 3%;
}

.bruce {
  display: flex;
  width: 275px;
  height: 275px;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
  margin: 0px 0px 40px 40px;
  border: solid 8px rgb(62, 57, 57);
}

.options {
  font-size: 25px;
  background-color: rgb(91, 90, 90);
  box-shadow: 5px 5px rgb(47, 48, 52);
  color: cornsilk;
  padding: 10px;
}

.options:hover {
  color: rgb(47, 48, 52);
  background-color: cornsilk;
}

/* IDS */

#choices {
  margin-top: -40px;
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
}

#fun {
  margin: 40px 20px 40px 20px;
  padding: 40px 20px 40px 20px;
}

#guide {
  font-size: 20px;
  display: flex;
  padding: 80px 0px 40px 0px;
  background-color: cadetblue;
  border: solid 20px cornsilk;
}

#intro {
  background-image: url(images/gotham-skyline.jpg);
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 700px;
  color: cornsilk;
  margin-top: 20px;
  border: solid 20px cornsilk;
}

#to-do {
  margin-top: -40px;
  margin-bottom: -100px;
  padding-bottom: 130px;
  border-right: solid 20px cornsilk;
  border-left: solid 20px cornsilk;
  background-image: url(images/Gotham_skyline1.webp);
  background-size: contain;
}

#quote {
  width: 500px;
  justify-content: end;
  margin-left: 200px;
}
